header {
  background-color: #2f3497;
  color: white;
  padding: 10px;
  text-align: center;
}

nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}
